promptmask.config.user.toml

.venv/
__pycache__/
*.pyc
.env

#docs
site/

#ide
.idx/

#lib
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST